<!DOCTYPE html>
<html>
  <head>
    <title>Proofs Line</title>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab:bold,bolditalic|Inconsolata:italic|Droid+Sans">
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:bold,bolditalic|Inconsolata:italic|Droid+Sans">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script type="text/javascript">
    window.logo = "<%= image_url('nav-bar-icon.png') %>";
    window.icon = "<%= image_url('icon.png') %>";
    window.background ="<%= image_url('background.png') %>";
    window.background_change ="<%= image_url('background-change.png') %>";
    window.orange_divider="<%= image_url('orange-divider.png') %>";
    window.public_q_and_a ="<%= image_url('public-q-and-a.png') %>";
    window.private_q_and_a ="<%= image_url('private-q-and-a.png') %>";
    window.browse_jobs = "<%= image_url('browse-jobs.png') %>";
    window.find = "<%= image_url('find.png') %>";
    window.rocket = "<%= image_url('rocket.png') %>";
    window.share = "<%= image_url('share.png') %>";
    window.github = "<%= image_url('gray-github.png') %>";
    window.linkedin = "<%= image_url('gray-linkedin.png') %>";
    window.gray_external_link = "<%= image_url('gray-external-link.png') %>";
    window.teams_container1 = "<%= image_url('teams-container1.png')%>";
    window.starter = "<%= image_url('starter.png')%>";
    window.clock = "<%= image_url('clock.png')%>";
    window.onboard = "<%= image_url('onboard.png')%>";
    window.lightbulb = "<%= image_url('lightbulb.png')%>";
    window.teams_container3 = "<%= image_url('teams-container3.png')%>";
    window.teams_container4 = "<%= image_url('teams-container4.png')%>";
    window.teams_container5 = "<%= image_url('teams-container5.png')%>";
    window.teams_container6 = "<%= image_url('teams-container6.png')%>";
    window.slack_icon = "<%= image_url('slack-icon.png')%>";
    window.microsoft_team_icon = "<%= image_url('microsoft-team-icon.png')%>";
    window.jira_icon = "<%= image_url('jira-icon.png')%>";
    window.github_icon = "<%= image_url('github-icon.png')%>";
    window.okta_icon = "<%= image_url('okta-icon.png')%>";
    window.ask_question_icon = "<%= image_url('ask-a-question-icon.png')%>";
    window.voting_icon = "<%= image_url('voting-icon.png')%>";
    window.ibm_ad = "<%= image_url('ibm-ad.png')%>";
    window.personal_ad= "<%= image_url('personal-ad.png')%>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
